.loading {
  width: 1200px;
  margin: 0 auto;
}
.header_back {
  height: 81px;
  width: 1200px;
  background-color: rgb(248, 230, 230);
  position: relative;
}
.logo {
  float: left;
  margin-left: 30px;
  background-color: blue;
  background-image: url('#');
  width: 200px;
  height: 81px;
  cursor: pointer;
}
.loading_peo,
.head_image,
.register {
  color: #4976e8;
  font-size: 15px;
  line-height: 81px;
  right: 0;
  float: right;
  margin-right: 20px;
  background-color: transparent;
  font-family: 'icomoon';
}
.Info {
  height: 380px;
  width: 1200px;
  background-image: url('#');
  background-repeat: no-repeat;
  background-color: grey;
  position: relative;
}
.autoplay {
  width: 421px;
  height: 100%;
  background-color: skyblue;
  float: left;
  position: relative;
}
.videolable {
  position: absolute;
  left: 50%;
  margin-left: -60px;
  font-weight: bold;
  margin-top: 40px;
  font-size: 20px;
}
.video {
  width: 346px;
  height: 218px;
  position: absolute;
  left: 50%;
  margin-left: -173px;
  top: 50%;
  margin-top: -109px;
}
.Infoma {
  background-color: black;
  position: relative;
  float: left;
  width: 779px;
  height: 380px;
}
.Infotitle {
  color: aqua;
  position: absolute;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 50px;
  line-height: 1.5;
}
.Explaination {
  color: aquamarine;
  position: absolute;
  font-size: 15px;
  margin-top: 120px;
  text-indent: 2em;
}
.start {
  width: 154px;
  height: 42px;
  font-size: 14px;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
  text-align: center;
  background-color: pink;
  position: absolute;
  top: 240px;
  left: 50%;
  margin-left: -77px;
  transition: all 1s;
}
.start:hover {
  background-color: palevioletred;
}
.leader {
  border-bottom: 2px solid gray;
  height: 51px;
}
section ul li {
  float: left;
  padding-left: 20px;
  margin-top: 20px;

  width: 100px;
  height: 51px;
  cursor: pointer;
}
